@charset "URF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body{
    background-color: rgb(141, 236, 141);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(44, 139, 44) ;
}

h1#principal {
    text-align: center;
    background-color: rgb(42, 146, 42);
    color: white;
}

h2{
    color: rgb(25, 48, 25);
}

.basico{
    color: rgb(2, 68, 2);
    font-weight: bold;
}

.intermediario {
    color: rgb(149, 149, 26);
}

.avancado {
    color: rgb(140, 18, 18);
}